<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="params.xacro" />

    <material name="camera_black">
        <color rgba="0 0 0 1"/>
    </material>

    <joint name="camera_joint" type="fixed">
        <parent link="lidar_mount_link"/>
        <child link="base_camera"/>
        <origin xyz="${camera_x_offset} ${camera_y_offset} ${camera_z_offset}" rpy="0 0 ${pi/2}"/> <!--half the height of the mount + half the height of the lidar itself -->
    </joint>

    <link name="base_camera">
        <visual>
            <origin xyz="0 ${camera_width/2} 0" rpy="0 0 0"/>
            <geometry>
                <box size="${camera_length} ${camera_width} ${camera_height}" />
            </geometry>
            <material name="camera_black"/>
        </visual>
        <collision>
            <origin xyz="0 ${camera_width/2} 0" rpy="0 0 0"/>
            <geometry>
                <box size="${camera_length} ${camera_width} ${camera_height}" />
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.1" x="${camera_length}" y="${camera_width}" z="${camera_height}" >
            <origin xyz="0 0 ${lidar_sensor_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


    <gazebo reference="base_camera">
        <material>Gazebo/Black</material>

        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera>
                <horizontal_fov>1.229061</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>800</width>
                    <height>600 </height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>
